{% extends 'inheritance_page/base.html' %}
{% load course_discunt_calculation %}

{% load static %}

{% block stylesheet_link %}
    <link rel="stylesheet" type="text/css" href="{% static 'resources/css/scrollbar.css' %}">
{% endblock %}

{% block title %} single page {% endblock %}


{% block stylesheet %}
    <style>

     .overflow-y-scroll {
         overflow-y: scroll;
     }

     .video_active{
         background:black;
         text-decoration: none;

     }

        .video_active a{
            color:#ded8d8;
     }

        a{
            text-decoration: none;
            color:black;
        }
        a:hover{
            text-decoration: none;
        }

    .video_active a:hover{
            color:white;
            text-decoration: none;
     }

    .active_video_link{
         color:rgb(206,202,195);
    }
     .active_video_link:hover{
         color:rgb(255,255,255);
    }

     .no-preview{
         cursor:not-allowed;
     }

     a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}

    </style>

{% endblock %}


{% block maincontent %}
  <div class="container-fluid">
    <div>
        <br>

        <div class="card p-3">
            <div class="row">
                <!-- youtube player -->
                <div class="col">
                    <div class="mx-auto">
                       <iframe  id="video_player" class="mx-auto" width="100%" height="315"
                                src="https://www.youtube.com/embed/{{ video_details.video_id }}" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                       </iframe>
                    </div>
                      <!-- next and Previous button (start)  -->
                    <div class="row">
                        <div class="mr-auto">
                            <!-- next button -->
                            <div class="border round p-2">
                                {% if next_lecture %}
                                    <a href="?lecture={{ next_lecture }}" class="next">Next &raquo;</a>

                                {% else %}
                                    <a class="btn btn-success disabled" href="">next >></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="ml-auto">
                            <!-- Previous button -->
                            <div class="border round p-2">
                                {% if Previous %}
                                    <a href="?lecture={{ Previous }}" class="next">&laquo; Previous</a>
                                {% else %}
                                    <a href="" class="btn btn-success disabled">&laquo; Previous</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                     <!-- next and Previous button (End)  -->
                </div>
                <!-- leacture list -->
                <div class="col-3">
                    <ul  id='video_list' class="list-group overflow-y-scroll">
                    <!--  singleCourse and request provide templatetags singleCourse import view file  -->
                    {% isCourseEnroll request singleCourse as enroll %}
                        {% for v in all_video %}
                        <li class="list-group-item {% if v == video_details %} video_active {% endif %}">
                            <a class="
                           {% if not enroll and not v.is_preview %} text-muted no-preview {% endif %}
                           {% if v == video_details %} active_video_link {% endif %}"
                               href="?lecture={{ v.serial_number }}">
                                {{v}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- course details -->

        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{singleCourse.name}}</h5>
                    <p class="card-text">{{singleCourse.description}}</p>
                </div>
            </div>
        </div>
        <!-- Prerequite -->
        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Prerequisite</h5>
                    <p class="card-text">
                      <ol>
                        {% for pre in singleCourse.prerequisite_set.all %}
                        <li class="">{{pre.description}}</li>
                        {% endfor %}
                      </ol>
                    </p>
                </div>
            </div>
        </div>

        <!-- Learnngs -->
        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Learnings</h5>
                  <p class="card-text">
                    <ol>
                         {% for p in singleCourse.learning_set.all %}
                         <li class="">{{p.description}}</li>
                        {% endfor %}
                    </ol>
                    </p>
                </div>
            </div>
        </div>

        <!-- learning end -->
        <br>
        <br>
        <br>

    </div>

</div>




{% endblock %}

{% block script_link %}
     <script src="{% static 'resources/js/video_player_responsive.js' %}"></script>
{% endblock %}

{% block script_code %}
    <script>

    </script>
{% endblock %}