{% extends 'inheritance_page/base.html' %}

{% load course_discunt_calculation %}
{% load static  %}

{% block stylesheet_link %}
{% endblock %}

{% block title %} E-Learning {% endblock %}


{% block stylesheet %}
<style>

 </style>

{% endblock %}

{% block maincontent %}
<br>
<div class="container-fluid">
  {% include 'inheritance_page/message.html' %}
<div class="row">
    {% for cou in all_course %}
        <div class="col-md-4 mx-auto">
        <div class="card mx-auto" style="width: 24rem;">
          <img class="card-img-top" src="{{ cou.thumbnail.url }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ cou.name }}</h5>
            <p class="card-text m-0 p-0">

              {% if cou.discount  %}
                  Save {{ cou.discount }}%
                  <br>
                  <span class="price">
                   <del> {{ cou.price|Taka }} </del>
                  &nbsp;  <span>{% cou_dis_cal cou.price cou.discount as valu  %} {{ valu|Taka }}</span>
                </span>
                 {% else %}
                     <span class="price">
                  &nbsp;  <span> {% cou_dis_cal cou.price cou.discount as valu %} {{ valu|Taka }}</span>
                </span>

                {% endif %}

            </p>
          </div>
   <!--     # templatetags file form import -->
  <!--      cou for loop theke -->
  <!--      cou for loop request and cou value passs hoitece isCourseEnroll  er jonno  -->
            <div class="card-footer p-0">
              {% isCourseEnroll request cou as enroll %}
                <div class="row no-gutters">
                {% if enroll  %}

                    <div class="col border-right">
                    <!-- show more er path -->
                         <a href="/singleCourse/{{ cou.slug }}" class="btn btn-light btn-block">Start Course </a>
                    </div>
                 {% else %}
                    {% if cou.discount is 100 %}
                            <div class="col border-right">
                         <a href="{% url 'Enroll_checkout' cou.slug %}" class="btn btn-light btn-block">Free Enroll Now</a>
                    </div>
                     <div class="col">
                          <a href="{% url 'singleCourse' cou.slug %}" class="btn btn-light btn-block">Show More</a>
                     </div>
                     {% else %}
                      <div class="col border-right">
                         <a href="{% url 'Enroll_checkout' cou.slug %}" class="btn btn-light btn-block">Enroll Now</a>
                    </div>
                     <div class="col">
                          <a href="{% url 'singleCourse' cou.slug %}" class="btn btn-light btn-block">Show More</a>
                     </div>
                    {% endif %}

                {% endif %}
                </div>
            </div>
        </div>
        </div>
    {% endfor %}

</div> <!-- end row -->
</div> <!-- end container-fluid -->

{% endblock %} <!--end maincontent-->

{% block script_link %}
{% endblock %}

{% block script_code %}
    <script>
    </script>
{% endblock %}

