{% extends 'inheritance_page/base.html' %}

{% load course_discunt_calculation %}
{% load static  %}

{% block stylesheet_link %}
{% endblock %}

{% block title %} E-Learning {% endblock %}


{% block stylesheet %}
<style>

 </style>

{% endblock %}

{% block maincontent %}
<br>
<div class="container-fluid">
<div class="row">
    {% for cou in all_course %}
        <div class="col-md-4 mx-auto">
        <div class="card mx-auto" style="width: 24rem;">
          <img class="card-img-top" src="{{ cou.thumbnail.url }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ cou.name }}</h5>
            <p class="card-text m-0 p-0">

              {% if cou.discount  %}
                  Save {{ cou.discount }}%
                  <br>
                  <span class="price">
                   <del> {{ cou.price|Taka }} </del>
                  &nbsp;  <span>Tk {% cou_dis_cal cou.price cou.discount %}</span>
                </span>
                 {% else %}
                     <span class="price">
                  &nbsp;  <span> {% cou_dis_cal cou.price cou.discount as valu %} {{ valu|Taka }}</span>
                </span>

                {% endif %}

            </p>
          </div>
            <div class="card-footer p-0">
                <div class="row no-gutters">
                    <div class="col border-right">
                         <a href="#" class="btn btn-light btn-block">Enroll Now</a>
                    </div>
                     <div class="col">
                          <a href="{% url 'singleCourse' cou.slug %}" class="btn btn-light btn-block">Show More</a>
                     </div>
                </div>
            </div>
        </div>
        </div>
    {% endfor %}

</div> <!-- end row -->
</div> <!-- end container-fluid -->

{% endblock %} <!--end maincontent-->

{% block script_link %}
{% endblock %}

{% block script_code %}
    <script>
    </script>
{% endblock %}

